<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exchange rate detail</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
<div class="container-table-detail">
    <button class="btn" id="ButtonBack">Back</button>
    <table>
        <thead>
        <tr>
            <th>Currency</th>
            <th>Unit</th>
            <th>Country</th>
            <th>Move</th>
            <th>Buy value</th>
            <th>Sell value</th>
            <th>Mid value</th>
            <th>Buy current</th>
            <th>Sell current</th>
            <th>Mid current</th>
            <th>Mid cnb</th>
            <th>Mid ecb</th>
            <th>Amount</th>
            <th>Version</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody class="table-detail-tbody"></tbody>
    </table>
</div>
<script th:src="@{/detail.js}"></script>
</body>
</html>